@using MovieMinds.Models.DTO
<div class="tabs"
    <button class=@($"tab {(activeTab == "Cast" ? "active" : "")}") @onclick="@(() => SetTab("Cast"))">Cast</button>
    <button class=@($"tab {(activeTab == "Crew" ? "active" : "")}") @onclick="@(() => SetTab("Crew"))">Crew</button>
    <button class=@($"tab {(activeTab == "Details" ? "active" : "")}") @onclick="@(() => SetTab("Details"))">Details</button>
    <button class=@($"tab {(activeTab == "Genres" ? "active" : "")}") @onclick="@(() => SetTab("Genres"))">Genres</button>
    <button class=@($"tab {(activeTab == "Releases" ? "active" : "")}") @onclick="@(() => SetTab("Releases"))">Releases</button>
</div>


<div class="tab-content">
    @if (activeTab == "Cast")
    {
        <div class="tab-cast">
            @if (!castMembers.Any())
            {
                <span class="text-slug">No cast information available.</span>
            }
            else{
                @foreach(var member in castMembers)
                {
                    <div class="cast-member">
                        <div class="cast-name">@member.Name</div>
                    </div>
                }
            }
        </div>
    }
    else if (activeTab == "Crew")
    {
        @if (!crewGroups.Any())
        {
            <span>No crew information available.</span>
        }
        else
        {
            <div class="tab-crew">
                @foreach(var group in crewGroups)
                {
                    <h3>
                        <span class="hide">@group.Key</span>
                        <span class="show">@group.Key</span>
                    </h3>
                    <div class="text-sluglist">
                        <p class="text-outline">
                            @FormatCrewMembers(group)
                        </p>
                    </div>
                }
            </div>
 
        }
    }
    else if (activeTab == "Details")
    {
        @if(MovieDetails is null)
        {
            <span class="text-slug">No Details available now</span>
        }
        else
        {
            <div class = "tab-details">
                <h3>
                    <span class="hide">Studio</span>
                    <span class="show">Studio</span>
                </h3>
                <div class="text-sluglist">
                       <p class="text-outline">
                        @if(MovieDetails.ProductionCompanies is null)
                        {
                            <span class="text-slug">No companies available</span>
                        }
                        else
                        {
                            @foreach(var studio in MovieDetails.ProductionCompanies)
                            {
                                <span class="text-slug">@studio.Name</span>
                            }
                        }
                       </p>
                </div>
                <h3>
                    <span class="hide">Country</span>
                    <span class="show">Country</span>
                </h3>
                <div class="text-sluglist">
                       <p class="text-outline">
                        @if(MovieDetails.ProductionCountries is null)
                        {
                            <span class="text-slug">N/A</span>
                        }
                        else
                        {
                            @foreach(var country in MovieDetails.ProductionCountries)
                            {
                                @if(country.UsName == "US")
                                {
                                    <span class="text-slug">@country.UsName</span>
                                    continue;
                                }
                                else
                                {
                                    <span class="text-slug">@country.CountryName</span>                               
                                }
                            }
                        }
                       </p>
                </div>
                <h3>
                    <span class="hide">Spoken language</span>
                    <span class="show">Spoken language</span>
                </h3>
                <div class="text-sluglist">
                       <p class="text-outline">
                        @if(MovieDetails.SpokenLanguage is null)
                        {
                            <span class="text-slug">N/A</span>
                        }
                        else
                        {
                            @foreach(var language in MovieDetails.SpokenLanguage)
                            {
                                <span class="text-slug">@language.Language</span>
                            }
                        }
                       </p>
                </div>
                <h3>
                    <span class="hide">Budget</span>
                    <span class="show">Budget</span>
                </h3>
                <div class="text-sluglist">
                    <p class="text-outline">
                        <span class="text-slug">
                            @(MovieDetails.Budget.GetValueOrDefault() == 0 ?
                            "N/A"   
                            : MovieDetails.Budget!.Value.ToString("C0"))
                        </span>
                    </p>
                </div>
                <h3>
                    <span class="hide">Revenue</span>
                    <span class="show">Revenue</span>
                </h3>
                <div class="text-sluglist">
                    <p class="text-outline">
                        <span class="text-slug">
                            @(MovieDetails.Revenue.GetValueOrDefault() == 0 ?
                            "N/A"
                            : MovieDetails.Revenue!.Value.ToString("C0"))
                        </span>
                    </p>
                </div>
            </div>
        }
    }
    else if (activeTab == "Genres")
    {
        @if(MovieDetails is null)
        {
            <span class="text-slug">No Details available now</span>
        }
        else
        {
            <div class="tab-genres">
                <h3>
                    <span class="hide">Genres</span>
                    <span class="show">Genres</span>
                </h3>
                <div class="text-sluglist">
                       <p class="text-outline">
                        @if(MovieDetails.Genres is null)
                        {
                            <span class="text-slug">N/A</span>
                        }
                        else
                        {
                            @foreach(var genre in MovieDetails.Genres)
                            {
                                <span class="text-slug">@genre.Name</span>
                            }
                        }
                       </p>
                </div>
            </div>
        }
    }
    else if (activeTab == "Releases")
    {
        @if(MovieDates?.Results is null || !MovieDates.Results.Any())
        {
            <span class="text-slug">No release dates yet</span>
        }
        else
        {
            <div class="tab-releases">
                @foreach(var typeGroup in releaseDatesByType!)
                {
                    <div class="release-type-group">
                        <h3>@GetReleaseTypeName(typeGroup.Key)</h3>

                        @foreach(var releaseDate in typeGroup)
                        {
                            <div class="release-date-item">
                                <span>@releaseDate.ReleaseInfo.ReleaseDate?.ToString("MMMM dd, yyyy")</span>
                                <span>@releaseDate.Country</span>
                                <span>@releaseDate.ReleaseInfo.Certification</span>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    }
</div>
