<div class="tabs"
    <button class=@($"tab {(activeTab == "Cast" ? "active" : "")}") @onclick="@(() => SetTab("Cast"))">Cast</button>
    <button class=@($"tab {(activeTab == "Crew" ? "active" : "")}") @onclick="@(() => SetTab("Crew"))">Crew</button>
    <button class=@($"tab {(activeTab == "Details" ? "active" : "")}") @onclick="@(() => SetTab("Details"))">Details</button>
    <button class=@($"tab {(activeTab == "Genres" ? "active" : "")}") @onclick="@(() => SetTab("Genres"))">Genres</button>
    <button class=@($"tab {(activeTab == "Releases" ? "active" : "")}") @onclick="@(() => SetTab("Releases"))">Releases</button>
</div>


<div class="tab-content">

    @if (activeTab == "Cast")
    {
        <div class="tab-cast">
            @if (!castMembers.Any())
            {
                <p>No cast information available.</p>
            }
            else{
                @foreach(var member in castMembers)
                {
                    <div class="cast-member">
                        <div class="cast-name">@member.Name</div>
                    </div>
                }
            }
        </div>
    }
    else if (activeTab == "Crew")
    {
        @if (!crewGroups.Any())
        {
            <p>No crew information available.</p>
        }
        else
        {
            <div class="tab-crew">
                @foreach(var group in crewGroups)
                {
                    <h3>
                        <span class="hide">@group.Key</span>
                        <span class="show">@group.Key</span>
                    </h3>
                    <div class="text-sluglist">
                        <p class="text-outline">
                            @FormatCrewMembers(group)
                        </p>
                    </div>
                }
            </div>
 
        }
    }
    else if (activeTab == "Details")
    {
        @if(MovieDetails is null)
        {
            <p>No Details available now</p>
        }
        else
        {
            <div class = "tab-details">
                <h3>
                    <span class="hide">Status</span>
                    <span class="show">Status</span>
                </h3>
                <h3>
                    <span class="hide">Budget</span>
                    <span class="show">Budget</span> 
                </h3>
                <div class="text-sluglist">
                    <span class="text-slug">@MovieDetails.Status</span>
                </div>
                <div class="text-sluglist">
                    <span class="text-slug">@MovieDetails.Budget</span>
                </div>
                
            </div>
        }
    }
    else if (activeTab == "Genres")
    {
        <p>Genres here...</p>
    }
    else if (activeTab == "Releases")
    {
        <p>Release info here...</p>
    }
</div>


