@model DiscoverViewModel

<div class="home-Img">
    <img src="\Images\HomeBanner.jpg"/>
    <div class="home-Text">
        <h1>
            Welcome to MovieMinds! Dive into your movie diary, rate your favorites, 
            and capture your cinematic journey just for you
        </h1>     
    </div>
</div>
<div class="index-container">
    <div class="page-header">
        <h2 class="page-title serif">Now Playing</h2>
    </div>
    <main>
        <div class="movies-grid view-grid" id="moviesGrid">
            @foreach (var movie in Model.Cards)
            {
                <div class="movie-card">
                    <a class="movie-Details" asp-controller="MovieDetails" asp-action="Details" asp-route-id="@movie.Id">
                        <div class="movie-poster">
                            <img src="@movie.Poster" alt="@movie.Title">
                            <div class="movie-overlay"></div>
                            <div class="movie-rating">@movie.VoteAverage</div>
                            <div class="movie-info">
                                <div class="movie-year">@movie.Year</div>
                                <div class="movie-genre">@movie.Genres</div>
                            </div>
                        </div>
                    </a>
                    <h3 class="movie-title serif">@movie.Title</h3>
                </div>
            }
        </div>
    </main>
</div>